<%- include('../partials/header') %>

<a href=""><button>Save</button></a>
<a href="notes/delNote[...]"><button>Delete</button></a>

<textarea name="textNote" id="textNote" cols="30" rows="10">
    <!-- note content here -->
</textarea>



<%- include('../partials/footer') %>