<%- include('../partials/header') %>

<a href=""><button>Save</button></a>
<a href="notes/delNote[...]"><button>Delete</button></a>

<div><ul>
    <!-- display content here.  -->
</ul></div>



<%- include('../partials/footer') %>